{#<form method="post">#}
{#    {% csrf_token %}#}
{#    {{form.username}}#}
{#    <span class="focus-input100" data-placeholder="نام کاربری"></span>#}
{#    {% if form.username.errors %}#}
{#        <div class="text-danger">#}
{#            {{form.username.errors}}#}
{#        </div>#}
{#    {% endif %}#}
{#    {{form.email}}#}
{#    <span class="focus-input100" data-placeholder="نام کاربری"></span>#}
{#    {% if form.email.errors %}#}
{#        <div class="text-danger">#}
{#            {{form.email.errors}}#}
{#        </div>#}
{#    {% endif %}#}
{#    {{form.password1}}#}
{#    <span class="focus-input100" data-placeholder="نام کاربری"></span>#}
{#    {% if form.password1.errors %}#}
{#        <div class="text-danger">#}
{#            {{form.password1.errors}}#}
{#        </div>#}
{#    {% endif %}#}
{#    {{form.password2}}#}
{#    <span class="focus-input100" data-placeholder="نام کاربری"></span>#}
{#    {% if form.password2.errors %}#}
{#        <div class="text-danger">#}
{#            {{form.password2.errors}}#}
{#        </div>#}
{#    {% endif %}#}
{#    <button type="submit">sign up</button>#}
{#</form>#}